<!DOCTYPE html>
<html layout:decorate="~{/layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>LostArkProject - 회원가입 페이지</title>
</head>

<body>
<div layout:fragment="content">
  <!-- Sign Up Start -->
  <div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
      <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-6">
        <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
          <form name="changePasswordForm" th:action="@{/member/signup/process}" method="post">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <a href="/" class="">
              <img src="/img/loedu_white.png" style="width: 200px;" />
            </a>
            <h3>비밀번호 변경</h3>
          </div>
          <div class="form-floating mb-3 d-flex">
            <input type="email" class="form-control" id="authId" placeholder="" name="authId">
            <label for="authId">이메일을 입력하세요</label>
            <button class="btn btn-outline-primary nowrap" type="button" id="sendEmailBtn" onclick="send_password_reset_email()">인증코드 발송</button>
          </div>
          <div class="form-floating mb-3 d-flex" style="display: none !important;" id="authInput">
              <input type="text" class="form-control" id="authCode" placeholder="">
              <label for="authCode">인증코드를 입력하세요</label>
              <button class="btn btn-outline-primary nowrap" type="button" id="checkAuthBtn" onclick="checkAuthCodeChangePassword()">인증코드 확인</button>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingInput" placeholder="" name="changePW">
            <label for="floatingInput">변경할 비밀번호를 입력하세요</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="a" placeholder="" name="changePWCheck">
            <label for="floatingInput">비밀번호를 확인하세요</label>
          </div>
          <button type="button" class="btn btn-primary py-3 w-100 mb-4" onclick="changePassword()">회원가입</button>
          <p class="text-center mb-0">계정을 이미 가지고 있나요? <a href="/member/signin">로그인</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Sign Up End -->
</div>

</body>

</html>