<!DOCTYPE html>
<html layout:decorate="~{/layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>멘토링 신청 결과</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid vh-100 p-0 m-0">
        <!-- Content Start -->
        <div class="row">
            <div class="col-12">
                <div class="bg-secondary rounded h-100 p-4">
                    <h2 class="mb-4">멘토링 신청 결과</h2>
                    <div class="table-responsive w-100">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">멘토 ID</th>
                                <th scope="col">결과</th>
                                <th scope="col">상세보기</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item, iterStat : ${requestedList}">
                                <td th:text="${iterStat.index + 1}"></td>
                                <td th:text="${item.mentor_member_id}"></td>
                                <td th:text="${item.apply_status}"></td>
                                <td>
                                    <a th:href="@{/message/myResult(menteeMemberId=${item.mentee_member_id})}" class="btn btn-outline-primary m-2">상세보기</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <!-- Table End -->
    </div>
    <!-- Content End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>
</body>
</html>
